.nav_logo {
  background-image: url("src/images/Myntra-Logo.png");
  background-size: cover;
  height: 50px;
  width: 80px;
  background-position: center;
  cursor: pointer;
}

.logo {
  height: 50px;
  width: 80px;
}
