.nav_search {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 500px;
}
.search_input {
  flex-grow: 1;
  font-size: 14px;
  border: none;
  outline: none;
  padding-left: 30px;
  border-radius: 5px;
}

.search_icon {
  background-color: rgb(255, 255, 255);
  height: 40px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #6d6d6d;
  cursor: pointer;
}
