/* .card {
  height: 100%;       //same as ht-100
} */

.image {
  margin-top: 20px;
  height: 150px;
  width: 100%;
  object-fit: contain;
  cursor: pointer;
}

.cards:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
