.banner {
  width: 100%;
  height: 80vh;
  object-fit: contain;
  object-position: center;
  margin-top: 15px;
}

.heading {
  font-weight: 600;
}

.heroText {
  margin: 40px 20px 10px 20px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.button {
  height: 80px;
  width: 150px;
  font-size: 20px;
  font-weight: 550;
  background-color: rgb(253, 205, 213);
  border-radius: 10px;
  border: none;
}
